<div class="container" th:fragment="form(requisicaoFormMedicamentos, action)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="container mb-4">
            <div class="col-12">
          <span th:styleappend="${(param.error == null) ? 'display: none;' : ''}"
                th:classappend="${(param.error != null && param.error) ? 'error-message' : 'success-message'}"
                th:text="${'Formulario com campos inválidos'}">Uma mensagem bem legal!</span>
            </div>
        </div>
        <form th:object="${requisicaoFormMedicamentos}" th:action="${action}" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome do medicamento</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descrição do medicamento</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{descricao}">
                <div class="invalid-feedback" th:errors="*{descricao}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de fabricação</label>
                <input class="form-control" type="date" th:errorclass="is-invalid" th:field="*{data_fabricacao}" data-date-format="mm/dd/yy">
                <div class="invalid-feedback" th:errors="*{data_fabricacao}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de vencimento</label>
                <input class="form-control" type="date" th:errorclass="is-invalid" th:field="*{data_vencimento}" data-date-format="mm/dd/yy">
                <div class="invalid-feedback" th:errors="*{data_vencimento}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Quantidade</label>
                <input class="form-control" th:errorclass="is-invalid" type="number" th:field="*{quantidade}">
                <div class="invalid-feedback" th:errors="*{quantidade}"></div>
            </div>
            <button class="btn btn-primary" type="submit">Submeter</button>
            <a href="javascript:history.back()">Voltar</a>
        </form>
    </div>
</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
